/* Common Class */
body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}
.container{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
.flexible{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.half-width{
    width: 50%;
}
.person{
    width: 90%;
}
.center{
    text-align: center;
    color: white;
}
.bluish-text{
    color: rgb(30, 130, 197);
}
.bluish-button{
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(30, 130, 197);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
}
.blue{
    background-color: rgb(224, 232, 253);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}
.red{
    background-color: rgb(255, 231, 225);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}
.green{
    background-color: rgb(222, 252, 213);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}



/* other class */
.container-1 h1{
    border-left: 3px solid rgb(255, 145, 0);
    padding-left: 5px;
}
.container-2 h1{
    text-align: center;
}
.container-2 img{
    width: 50%;
}
.container-2 .flexible > div{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
} 
.container-5 h1{
    text-align: center;
}
.skill{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.progress{
    width: 100%;
    height: 10px;
}
.icon{
    width: 30%;
}
.container-6{
    background-color: black;
    border-radius: 10px;
}
